name: Update AUR Package - zen-browser-bin

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version Number"
        required: true
      versionNum:
        description: "AUR Update Version Number"
        required: true
        default: "1"
      message:
        description: "Commit Message"
        required: true

jobs:
  aur-publish:
    runs-on: ubuntu-latest
    outputs:
      need_update: ${{ steps.check_version.outputs.need_update}}
    steps:
      - uses: actions/checkout@v3
      - name: Update PKGBUILD
        if: ${{(steps.check_version.outputs.need_update == 'true') || (github.event_name == 'workflow_dispatch')}}
        run: |
          sed -e "s/PACKAGE_VERSION/${{github.event.inputs.version}}/g" -e "s/PACKAGE_ITERATION/${{github.event.inputs.versionNum}}/g" template/stable/PKGBUILD_stable_template > stable/PKGBUILD
      - name: 'Save PKGBUILD for Validation'
        uses: actions/upload-artifact@v4
        with:
          name: PKGBUILD
          path: stable/PKGBUILD
          retention-days: 1
